<form role="form" [formGroup]="registerForm">
  <div class="alert alert-danger" style="display: none;"></div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" formControlName="email" />
  </div>
  <div class="form-group">
    <label for="phone">Phone:</label>
    <input type="text" class="form-control" formControlName="phone" />
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" formControlName="username" />
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <button (click)="register()" class="btn btn-primary">Register</button>
</form>
